body {
    margin: 0;
    padding: 0;
}

#container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#container div:not(:first-child) {
    padding: 3px;
    text-align: center;
    margin-top: 20px;
}

#circle {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: black;
    box-sizing: border-box;
}

.inner {
    background-color: red;
    position: relative;
    width: 100px;
    height: 100px;
    left: 50px;
    top: 50px;
}

.triangle-bottom-left {
    */ background-color: transparent;
    position: relative;
    left: 50px;
    top: 50px;
    width: 0;
    height: 0;
    border-bottom: 100px solid yellow;
    border-right: 100px solid transparent;
}

.square {
    background-color: transparent;
    position: relative;
    left: 50px;
    top: 50px;
    width: 100px;
    height: 100px;
    border-top: 100px solid brown;
}

#tab {
    padding: 8px;
    font-size: 18px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

#tab:hover {
    background-color: #7bb5dc;
    transform: scale(1.1);
}